/* FOR IMPORTING FONTS */
@import url('https://fonts.googleapis.com/css?family=Creepster');
@import url('https://fonts.googleapis.com/css?family=Bad+Script|Lobster+Two:400,400i');
@import url('https://fonts.googleapis.com/css?family=Lobster+Two');
@import url('https://fonts.googleapis.com/css?family=Bad+Script');

body {
  background-color: hsla(185, 95%, 60%, .3)
}

h1 {
  color: #172724;
  text-align: center;
  font-weight: normal;
  font-family: verdana;
  font-size: 28px;
}

h2 {
  color: #172724;
  text-align: center;
  font-weight: normal;
  font-family: verdana;
  font-size: 24px;
}

h3 {
    text-align: left;
    margin-top: 150px;
    margin-left: 350px;
    font-size: 28pt;
    font-family: 'Bad Script', 'Lobster Two', cursive;
    font-weight: bold;
    color: #800000;
}

h4 {
    text-align: right;
    margin-top: -111px;
    margin-right: 370px;
    font-size: 28pt;
    font-family: 'Bad Script', 'Lobster Two', cursive;
    font-weight: bold;
    color: #800000;
}

.button {
    border: none;
    color: white;
    padding: 4px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: verdana;
    font-size: 24px;
    margin: 4px 2px;
    transition-duration: 0.2s; /* for 0.2 second transition on color change of button */
    cursor: pointer;
}

.button1 {
    background-color: #5c9999; /* #8bbaba; */
    color: #000000;
}

.button1:hover {
    background-color: #335752;
    color: #ffffff;
}

/* TEXT FADE START */
c {
    font-weight: bold;
    font-family: 'Bad Script', 'Lobster Two', cursive;
    font-size: 28pt;        /* FOR 'BLACKJACK!!!' */
    animation: change 1s infinite;
}
@keyframes change {
    from { color: #800000 }
    to   { color: #ff3333 }
}
/* TEXT FADE END */
